<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene usato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per altre informazioni su questo argomento, vedere https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/939df55b-06ef-4cc1-bfb1-8c3ad44df4b2/resourcegroups/Default-Storage-WestEurope/providers/Microsoft.Web/sites/countWhat20170701045948</ResourceId>
    <ResourceGroup>Default-Storage-WestEurope</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://countwhat20170701045948.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>countwhat20170701045948.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>countWhat20170701045948</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$countWhat20170701045948</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:countehat.database.windows.net,1433;Initial Catalog=countWhat;User ID=countwhat@countehat;Password=3oC0@Gi3z" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="countWhat.Models.ApplicationDbContext, countWhat" MigrationConfiguration="countWhat.Migrations.Configuration, countWhat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:countehat.database.windows.net,1433;Initial Catalog=countWhat;User ID=countwhat@countehat;Password=3oC0@Gi3z</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>